.request-form {
    display: flex;
    flex-direction: column;
    width: 300px;

    input {
        height: 50px;
        border-radius: 5px;
        padding: 0 20px;
        margin-top: 15px;

        &:first-child {
            margin-top: 0;
        }
    }

    .button {
        margin-top: 20px;
    }
}
