.calculator {
    background: linear-gradient(89.95deg, #0D97D5 0.06%, #003F78 99.96%);
    padding: 60px 0;
   
    .container{
        max-width: 1385px;
    }

    &_section_free {
        .calculator_items {
            background: #fff;
            border-radius: 5px;
            margin-top: 60px;
        }

        .calculator_item {
            display: flex;
            align-items: center;
            padding: 20px 15px;
            border-bottom: 1px solid #C4C4C4;

            &:last-child {
                border-bottom: none;
            }

            &_icon {
                img {
                    width: 80px;
                    margin: 0 15px;
                }
            }

            &_descr {
                font-weight: 500;

                span {
                    color: #2B3180;
                }
            }


            &_title {
                max-width: 250px;
                min-width: 250px;
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
                color: #000000;
                margin: 0 30px;

            }
        }
    }

    &_section_paid {
        
        margin-top: 60px;
        .title {
            margin-bottom: 60px;
        }

        .calculator_items {
            display: flex;
            background: #fff;
            border-radius: 5px;
        }

        .calculator_item {
            width: 270px;
            border-left: 1px solid #C4C4C4;
            padding-bottom: 10px;
            

            &:first-child {
                width: 460px;
                border-left: 0;
                .calculator_option {
                    height: 100px;
                    padding: 0 20px;
                    justify-content: start;
                }
            }

            &:last-child{
               width: 355px;
            }

            &_title {
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: bold;
                font-size: 18px;
                color: #000;
                border-bottom: 1px solid #C4C4C4;
                height: 75px;
                text-align: center;
                margin-bottom: 10px;
            }

            ul {
                padding: 0;
            }
        }

        .calculator_option {
            list-style: none;
            padding: 11px 15px 11px 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 5px;
            margin: 0 10px;
            font-weight: bold;
            font-size: 18px;
            color: #000;
            cursor: pointer;

            &_icon {

                img {
                    width: 160px;
                    margin-right: 20px;
                }
            }


            &.active {
                background: rgba(13, 151, 213, 0.37);
                height: 55px;
                cursor: default;
                pointer-events: none; 
            }

            &_count {
                display: flex;
                align-items: center;
                font-weight: 800; 
                pointer-events: painted;
                
                
                .plus {
                    font-size: 24px;
                    margin-left: 10px;
                    cursor: pointer;
                }

                .minus {
                    font-size: 24px;
                    margin-right: 10px;
                    cursor: pointer;
                }

            }
        }

    }

    &_order {
        padding: 0 40px 0 30px;
        margin-top: 40px;

        &_descr {
            font-weight: normal;
            font-size: 18px;
            color: #000;
            margin-bottom: 20px;
        }

        &_item{
            display: flex;
        }

        &_weight {
            font-weight: normal;
            font-size: 18px;
            color: #000;
            text-align: left;
            margin-bottom: 50px;
        }

        &_value {
            font-weight: normal;
            font-size: 18px;
            text-align: left;
            margin-right: 5px;
        }

        &_price {
            font-weight: bold;
            font-size: 45px;
            text-align: left;
            color: #000;
            margin: 40px 0;
        }

        &_btn {
            width: 100%;
            padding: 0 25px;
            .btn {
                width: 100%;
                font-size: 18px;
                background: linear-gradient(90.03deg, #0AAEE3 0.05%, #2B3180 99.16%);
                color: #fff;
                filter: none;
 
                &:hover{
                    color: #2B3180;
                    background: #fff;
                    border: 2px solid #2B3180;
                }
                &_no-bg{
                    color: #2B3180;
                    border: 2px solid #2B3180;
                    background: none;
                    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.3));
                    &:hover{
                        border: none;
                        background: linear-gradient(90.03deg, #0AAEE3 0.05%, #2B3180 99.16%);
                        color: #fff;
                    }
                }
            }
        }
    }


}