.intro {
    background: linear-gradient(89.83deg, #0AAEE3 0.06%, #2B3180 99.94%);
    box-shadow: 0px 2px 6px rgba(19, 43, 77, 0.5);
    position: relative;

    &_inner {
        height: 100vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_content {
        width: 50%;
    }

    .btn_count {
        margin-bottom: 30px;
    }

    .btn {
        height: 65px;
        font-size: 24px;
    }

    &_img {
        width: 50%;

        img {
            width: 100%;
        }
    }

    &_title {
        font-weight: bold;
        font-size: 36px;
        color: #FFFFFF;
        margin-bottom: 30px;
    }

    &_subtitle {
        font-weight: bold;
        font-size: 20px;
        color: #F1ECEC;
        margin-bottom: 60px;
    }

    &_scroll {
        width: 50px;
        height: 50px;
        position: absolute;
        bottom: 30px;
        z-index: 1;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        animation: animation 2s infinite;

        span {
            width: 35px;
            height: 35px;
            display: block;
            position: relative;
            margin: 0 auto;
            top: 50%;
            transform: translateY(-50%);


           

            &:before {
                content: '';
                width: 100%;
                height: 100%;
                border-bottom: 4px solid #ffff;
                border-left: 4px solid #ffff;
                position: absolute;
                transform: rotate(-45deg);
                
            }
        }
        @keyframes animation {
            0%{
                bottom: 30px; 
            }
            50%{
                bottom: 15px; 
            }
            100%{
                bottom: 30px;     
            }
        }
    }

}


.system {
    &_inner {
        img {
            width: 100%;
        }
    }

}

.consalt {
    background: linear-gradient(89.83deg, #0AAEE3 0.06%, #2B3180 99.94%);
    box-shadow: 0px 2px 6px rgba(19, 43, 77, 0.5);
    padding: 55px 0;
    margin-top: 100px;

    &_inner {
        text-align: center;
    }

    .title {
        margin: 0 0 60px;
        color: #ffff;
    }

    .btn {
        font-size: 20px;
        width: 220px;
    }

    &_form {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;


        .input_container {
            width: 400px;
            margin: 0 15px;
            position: relative;

            svg{
                width: 32px;
                position: absolute;
                fill: #2B3180;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                z-index: 1;
            }
        }
    }

    &_politics {
        font-weight: 500;
        font-size: 14px;
        color: #9DBBE2;
        margin-top: 50px;

        a {
            text-decoration: none;
            color: #ffff;
        }
    }

}


.device {

    .slider_item_descr {
        margin-top: 20px;

        ul {
            margin-top: 20px;
        }

        li {
            margin-top: 15px;
        }


        span {
            font-weight: 700;
        }
    }
}


.advantages {
    &_inner {
        display: flex;
        justify-content: center;
    }

    &_item {
        display: flex;
        align-items: center;
        padding: 0 10px;
        width: 33.333%;

        &_icon {
            margin-right: 20px;
        }

        &_title {
            font-weight: bold;
            font-size: 16px;
            color: #000000;
            margin-bottom: 10px;
        }

        &_text {
            font-weight: 500;
            line-height: 1.5;
            font-size: 14px;
            color: #000000;
        }
    }
}


.partners {
    background: linear-gradient(89.83deg, #0AAEE3 0.06%, #2B3180 99.94%);
    box-shadow: 0px 2px 6px rgba(19, 43, 77, 0.5);
    padding: 50px 0;
    margin-top: 100px;

    .title {
        margin-top: 0;
        margin-bottom: 70px;
        color: #ffff;

    }

    &_inner {
        display: flex;
        justify-content: space-between;
    }

    &_item {
        max-width: 200px;
        height: auto;

        img {
            width: 100%;
        }
    }
}

.reviews {

    &_inner {
        display: flex;
        justify-content: center;
        margin-top: 110px;
    }

    &_item {
        text-align: center;
        background: #F4F7FA;
        border-radius: 4px;
        width: 33.333%;
        padding: 80px 35px 30px 35px;
        position: relative;
        height: 380px;
        margin: 10px;


        &_icon {
            max-width: 120px;
            position: absolute;
            top: -60px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
        }

        &_title {
            font-weight: bold;
            font-size: 20px;
            color: #132B4D;
        }

        &_subtitle {
            font-weight: 600;
            font-size: 14px;
            color: #6C83A1;
            margin-bottom: 25px;
        }

        &_text {
            font-weight: 500;
            font-size: 14px;
            line-height: 1.5;
            text-align: center;
            color: #423B57;
        }

    }


}