@charset "UTF-8";
*, :before, :after { font-family: 'Montserrat', sans-serif; box-sizing: border-box; margin: 0; }

:focus { outline: none; }

.container { max-width: 1260px; margin: 0 auto; padding: 0 15px; }

.title { font-weight: bold; font-size: 36px; line-height: 44px; text-align: center; color: #132B4D; margin: 100px 0 50px; }

input { width: 100%; height: 65px; border: none; background: #FFFFFF; border-radius: 10px; padding: 20px 25px; font-weight: 500; font-size: 20px; line-height: 24px; color: #6C83A1; }
input:focus { border: 2px solid #2B3180; }

.header_inner { display: flex; justify-content: space-between; align-items: center; height: 100px; background: #ffffff; }
.header_logo { max-width: 190px; }
.header_nav { display: flex; list-style: none; padding: 0; }
.header_nav_link { text-decoration: none; font-weight: bold; font-size: 18px; line-height: 22px; text-align: center; color: #132B4D; padding: 0 20px; }
.header_nav_link:hover { color: #0A5DB9; transition: 0.2s; }
.header_call { display: flex; flex-direction: column; align-items: flex-end; }
.header_call_phone { text-decoration: none; font-weight: bold; font-size: 18px; line-height: 22px; text-align: center; color: #132B4D; margin-bottom: 10px; }
.header_call_phone:hover { color: #0A5DB9; transition: 0.2s; }
.header_call_btn { font-weight: bold; font-size: 14px; line-height: 17px; text-align: center; color: #0A5DB9; text-decoration: none; border: 1px solid #0A5DB9; border-radius: 4px; padding: 7px 25px; }

.intro { background: linear-gradient(89.83deg, #0AAEE3 0.06%, #2B3180 99.94%); box-shadow: 0px 2px 6px rgba(19, 43, 77, 0.5); padding-bottom: 30px; }
.intro_inner { height: 820px; display: flex; justify-content: space-between; align-items: center; }
.intro_title { font-weight: bold; font-size: 36px; line-height: 44px; color: #FFFFFF; margin-bottom: 30px; }
.intro_subtitle { font-weight: bold; font-size: 20px; line-height: 24px; color: #F1ECEC; margin-bottom: 60px; }
.intro .btn_count { margin-bottom: 30px; }
.intro_scroll { width: 40px; height: 22px; position: relative; cursor: pointer; margin: 0 auto; }
.intro_scroll:before { content: ''; width: 3px; height: 25px; background: #ffff; position: absolute; left: 10px; transform: rotate(-50deg); }
.intro_scroll:after { content: ''; width: 3px; height: 25px; background: #ffff; position: absolute; right: 10px; transform: rotate(50deg); }

.system_inner img { width: 100%; }

.consalt { background: linear-gradient(89.83deg, #0AAEE3 0.06%, #2B3180 99.94%); box-shadow: 0px 2px 6px rgba(19, 43, 77, 0.5); padding: 55px 0; margin-top: 100px; }
.consalt_inner { text-align: center; }
.consalt .title { margin: 0 0 60px; color: #ffff; }
.consalt .btn { font-size: 20px; width: 220px; }
.consalt_form { display: flex; justify-content: center; flex-wrap: wrap; }
.consalt_form input { width: 400px; height: 65px; border: none; background: #FFFFFF; border-radius: 10px; padding: 20px 25px; font-weight: 500; font-size: 20px; line-height: 24px; color: #6C83A1; }
.consalt_form input:focus { border: 2px solid #2B3180; }
.consalt_form_name { margin-right: 25px; position: relative; }
.consalt_form_name:before { content: ''; width: 28px; height: 38px; background: url("/img/name.svg"); position: absolute; right: 25px; top: 50%; transform: translateY(-50%); z-index: 1; }
.consalt_form_phone { margin-right: 25px; position: relative; }
.consalt_form_phone:before { content: ''; width: 38px; height: 38px; background: url("/img/phone.svg"); position: absolute; right: 25px; top: 50%; transform: translateY(-50%); z-index: 1; }
.consalt_politics { font-weight: 500; font-size: 14px; line-height: 17px; color: #9DBBE2; margin-top: 50px; }
.consalt_politics a { text-decoration: none; color: #ffff; }

.device .slider_item_descr { margin-top: 20px; }
.device .slider_item_descr ul { margin-top: 20px; }
.device .slider_item_descr li { margin-top: 15px; }
.device .slider_item_descr span { font-weight: 700; }

.advantages_inner { display: flex; justify-content: center; }
.advantages_item { display: flex; align-items: center; padding: 0 20px; width: 33.333%; }
.advantages_item_icon { margin-right: 20px; }
.advantages_item_title { font-weight: bold; font-size: 16px; line-height: 20px; color: #000000; margin-bottom: 10px; }
.advantages_item_text { font-weight: 500; font-size: 14px; line-height: 17px; color: #000000; }

.partners { background: linear-gradient(89.83deg, #0AAEE3 0.06%, #2B3180 99.94%); box-shadow: 0px 2px 6px rgba(19, 43, 77, 0.5); padding: 50px 0; margin-top: 100px; }
.partners .title { margin-top: 0; margin-bottom: 70px; color: #ffff; }
.partners_inner { display: flex; justify-content: space-between; }
.partners_item { max-width: 200px; height: auto; }
.partners_item img { width: 100%; }

.reviews_inner { display: flex; justify-content: center; margin-top: 110px; }
.reviews_item { text-align: center; background: #F4F7FA; border-radius: 4px; width: 33.333%; padding: 80px 45px 0 45px; position: relative; height: 350px; margin: 10px; }
.reviews_item_icon { max-width: 120px; position: absolute; top: -60px; left: 50%; transform: translateX(-50%); z-index: 1; }
.reviews_item_title { font-weight: bold; font-size: 20px; line-height: 24px; color: #132B4D; }
.reviews_item_subtitle { font-weight: 600; font-size: 14px; line-height: 17px; color: #6C83A1; margin-bottom: 25px; }
.reviews_item_text { font-weight: 500; font-size: 14px; line-height: 17px; text-align: center; color: #423B57; }

.btn { width: 420px; height: 65px; border: none; background: #FFFFFF; box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); border-radius: 100px; font-weight: bold; font-size: 24px; line-height: 29px; text-align: center; color: #2B3180; cursor: pointer; }
.btn:hover { background: #2B3180; color: #FFFFFF; transition: 0.2s; }
.btn_count { color: #FFFFFF; background: none; border: 2px solid #FFFFFF; box-shadow: none; }
.btn_count:hover { background: #FFFFFF; color: #2B3180; transition: 0.2s; }

.slider_inner { position: relative; }
.slider_inner:before { content: ''; width: 40px; height: 40px; background: url("/img/swipe.svg"); position: absolute; right: 0; top: 65px; z-index: 2; }
.slider_item { margin-bottom: 40px; }
.slider_item_title { font-weight: 600; font-size: 20px; line-height: 24px; text-align: center; color: #6C83A1; margin-bottom: 30px; }
.slider_item_content { display: flex; justify-content: center; }
.slider_dots { display: flex; justify-content: space-between; border-top: 1px dashed #0D97D5; }
.slider_dot { font-weight: 600; font-size: 14px; line-height: 17px; text-align: center; color: #6C83A1; margin-top: 30px; position: relative; cursor: pointer; }
.slider_dot:before { content: ''; width: 40px; height: 40px; position: absolute; background: #ffff; border: 2px solid #6C83A1; border-radius: 100%; top: -51px; left: 50%; transform: translateX(-50%); z-index: 1; }
.slider_dot:after { content: ''; width: 20px; height: 20px; position: absolute; background: #6C83A1; border: 2px solid #6C83A1; border-radius: 100%; top: -41px; left: 50%; transform: translateX(-50%); z-index: 2; }
.slider_dot.active { color: #0D97D5; }
.slider_dot.active:before { border-color: #0D97D5; }
.slider_dot.active:after { background: #0D97D5; border: 2px solid #0D97D5; }

.calculator { background: linear-gradient(89.83deg, #0AAEE3 0.06%, #2B3180 99.94%); box-shadow: 0px 2px 6px rgba(19, 43, 77, 0.5); padding: 60px 0; margin-top: 100px; }
.calculator .title { color: #ffff; margin: 0; }
.calculator_section { margin-top: 30px; }
.calculator_section_title { font-weight: normal; font-size: 24px; line-height: 29px; color: #FFFFFF; margin-bottom: 20px; }
.calculator_devices { display: flex; justify-content: space-between; }
.calculator_device { max-width: 400px; padding: 30px; border: 2px solid rgba(255, 255, 255, 0.3); border-radius: 10px; }
.calculator_device.active { background: rgba(255, 255, 255, 0.5); border: 2px solid #FFFFFF; }
.calculator_device.active li { color: rgba(19, 43, 77, 0.7); }
.calculator_device.active li.active { color: #132B4D; }
.calculator_device_title { font-weight: bold; font-size: 24px; line-height: 29px; color: #FFFFFF; text-align: center; margin-bottom: 28px; }
.calculator_device_descr { list-style: none; font-weight: 500; font-size: 16px; line-height: 20px; }
.calculator_device_descr li { padding: 10px 0; color: rgba(255, 255, 255, 0.49); position: relative; }
.calculator_device_descr li:before { content: ''; width: 20px; height: 20px; background: url("/img/check.svg"); position: absolute; top: 50%; transform: translateY(-50%); left: -30px; border-radius: 100%; z-index: 1; }
.calculator_device_descr li.active { color: #ffff; }
.calculator_device_descr li.active:before { background: url("/img/check_active.svg"); }
.calculator-form { display: flex; flex-wrap: wrap; }
.calculator-form_item { width: 50%; padding: 30px; }
.calculator-form_item_title { font-weight: normal; font-size: 24px; line-height: 29px; color: #FFFFFF; margin-bottom: 15px; }
.calculator-order { display: flex; justify-content: space-between; margin-top: 35px; }
.calculator-order_items { width: 50%; }
.calculator-order_item { display: flex; justify-content: space-between; font-size: 24px; line-height: 35px; color: #FFFFFF; padding: 5px 0; }
.calculator-order_price { display: flex; flex-direction: column; justify-content: center; font-weight: normal; font-size: 64px; line-height: 78px; text-align: right; color: #FFFFFF; }
.calculator-order_price span { font-weight: normal; font-size: 24px; line-height: 29px; text-align: right; }
.calculator-order_request { display: flex; justify-content: space-between; flex-wrap: wrap; margin-top: 100px; }
.calculator-order_request input { width: 45%; }
.calculator-order_request .btn { width: 620px; }

.calculator-form_item #checked { display: none; }
.calculator-form_item .check_slider { display: block; width: 100px; height: 50px; background: #ffff; border-radius: 1.5em; position: relative; margin: 0 auto; margin-top: 50px; cursor: pointer; }
.calculator-form_item .check_slider:before { content: ''; width: 45px; height: 45px; background: #2B3180; position: absolute; border-radius: 100%; left: 5px; top: 50%; transform: translateY(-50%); transition: 0.5s; }
.calculator-form_item .check_slider span:before { content: 'Аренда'; font-weight: normal; font-size: 24px; line-height: 29px; color: #FFFFFF; position: absolute; left: -110px; top: 50%; transform: translateY(-50%); }
.calculator-form_item .check_slider span:after { content: 'Покупка оборудования'; font-weight: normal; font-size: 24px; line-height: 29px; color: rgba(255, 255, 255, 0.5); position: absolute; left: 110px; top: 50%; transform: translateY(-50%); }
.calculator-form_item input:checked + .check_slider:before { left: 50px; }
.calculator-form_item input:checked + .check_slider span:before { color: rgba(255, 255, 255, 0.5); }
.calculator-form_item input:checked + .check_slider span:after { color: #ffff; }

.footer { background: linear-gradient(89.83deg, #0AAEE3 0.06%, #2B3180 99.94%); box-shadow: 0px 2px 6px rgba(19, 43, 77, 0.5); padding: 50px 0; margin-top: 100px; }
.footer_inner { display: flex; justify-content: space-between; }
.footer_item { margin-right: 70px; width: 33.333%; }
.footer_item:last-child { margin-right: 0; }
.footer_item_title { font-weight: bold; font-size: 32px; line-height: 39px; text-align: center; color: #FFFFFF; text-align: left; margin-bottom: 15px; margin-top: 50px; }
.footer_logo { max-width: 350px; }
.footer_descr { font-weight: normal; font-size: 16px; line-height: 20px; color: #FFFFFF; margin-top: 20px; }
.footer .contacts { margin-top: 50px; text-align: left; }
.footer .contacts_item { display: flex; margin-top: 30px; }
.footer .contacts_item_icon { width: 24px; height: 24px; }
.footer .contacts_item_descr { margin-left: 15px; }
.footer .contacts_item_title { font-weight: bold; font-size: 18px; line-height: 22px; color: #FFFFFF; }
.footer .contacts_item_text { font-weight: normal; font-size: 16px; line-height: 20px; color: #FFFFFF; }
.footer .consalt_form_name { margin: 20px 0 0; }
.footer .consalt_form_phone { margin: 20px 0 0; }
.footer .consalt_form .btn { margin-top: 30px; }

/*# sourceMappingURL=style.css.map */
